node_modules/
**/node_modules/

*.log
*.pid
*.db

dist/
build/
out/

.env
**/.env

Tech_House/java-backend/data/*.json
Tech_House/java-backend/server.err.log
Tech_House/java-backend/server.out.log
Tech_House/java-backend/server.pid
Tech_House/java-backend/out/
Tech_House/techhouse.db
